.body {
  color: white;
  width: auto;
  display: flex;
  align-items: center;
}

.header {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
}

.html {
  background-color: black;
}

.line {
  background-color: black;
  height: 3px;
}

.graph {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.stylebg {
  height: 270px;
  width:100%;
  padding-right: 55px;
  margin-left: 15px;
  opacity: 40%;
  position: absolute;
}